In [1]:
str = 'radha'
print(str)

radha

In [2]:
a = '''good evening'''
print(a)

good evening

In [3]:
a = 'hello radha'
print(a[2])

l

In [6]:
a = 'helloradha'
print(a[2:8])

llorad

In [9]:
a = 'helloradha!'
print(a[-7:-1])

oradha

In [10]:
a = 'hello radha'
print(len(a))

11

In [12]:
a = '  hello radha  '
print(a.strip())

hello radha

In [14]:
a = 'RADHA'
print(a.lower())

radha

In [16]:
a = 'radha'
print(a.upper())

RADHA

In [18]:
a = 'hello radha'
print(a.replace('h', 'j'))

jello radja

In [19]:
a = 'how are you'
print(a.split())

['how', 'are', 'you']

In [22]:
xyz = "this is radha"
abc = "is" not in xyz
print(abc)

False

In [23]:
xyz = "this is radha"
abc = "is" in xyz
print(abc)

True

In [24]:
y = 'how is '
z = 'your day'
x = y + z
print(x)

how is your day

In [25]:
a = "frnd"
b = "ship"
c = a + " " + b
print(c)

frnd ship

In [27]:
age = 20
xyz = "My name is radha, and I am {}"
print(xyz.format(age))

My name is radha, and I am 20

In [31]:
number = 3
clothes = 567
price = 49.95
myorder = "I want {0} pieces of item {1} for {2} dollars."
print(myorder.format(number,clothes, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [34]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [39]:
txt = "we all friends \"forever\" and ever."
print(txt)

we all friends "forever" and ever.

In [40]:
xyz = 'It\'s me radha'
print(xyz)

It's me radha

In [45]:
xyz = "This is carona \\ time."
print(xyz)

This is carona \ time.

In [46]:
txt = "We are the so-called \"Vikings\" from the north."

Radha
Rani

In [47]:
xyz = "Radha\rRani"
print(xyz)

Rani

In [49]:
txt = "Radha\rRani"
print(txt)

Rani

In [51]:
a = "radha"
print(a.capitalize())

Radha

In [53]:
a = "RADHA"
print(a.casefold())

radha

In [62]:
a = "apple"
txt = a.center(20, "1")

print(txt)

1111111apple11111111

TypeError: center() takes at least 1 argument (0 given)

In [66]:
a = "I love clothes very much and i always want's many clothes"
b = a.count("clothes")

print(b)

2

In [71]:
a = "Hello, welcome to my world"
b = a.endswith(".")

print(b)

False

In [72]:
a = "Hello, welcome to my world."
b = a.endswith(".")

print(b)

True

In [77]:
txt = "r\ta\td\th\ta"

x =  txt.expandtabs(7)

print(x)

r      a      d      h      a

In [78]:
txt = "Hello, welcome to my world."

x = txt.find("o")

print(x)

4

In [80]:
txt = "Hello, welcome to my world."

x = txt.index("my")

print(x)

18

In [83]:
txt = "Radha(&*)"

x = txt.isalnum()

print(x).

False

In [84]:
txt = "Radha12"

x = txt.isalnum()

print(x)

True

In [89]:
txt = "8976"

x = txt.isalnum()

print(x)

True

In [90]:
txt = "radha"

x = txt.isalnum()

print(x)

True

In [92]:
txt = "pandi"

x = txt.isalpha()

print(x)

True

In [93]:
txt = "radha12"

x = txt.isalpha()

print(x)

False

In [95]:
txt = "45678"

x = txt.isdecimal()

print(x)

True

In [96]:
txt = "knaxka"

x = txt.isdecimal()

print(x)

False

In [97]:
txt = "1 2 3 4 5 9"

x = txt.isdecimal()

print(x)

False

In [98]:
txt = "1)7?*562"

x = txt.isdecimal()

print(x)

False

In [99]:
txt = "123"

x = txt.isdigit()

print(x)

True

In [100]:
txt = "^^^knxakx768"

x = txt.isdigit()

print(x)

False

In [102]:
txt = "1 2 3 4 56 6 7"

x = txt.isdigit()

print(x)

False

In [1]:
txt = "radha"

x = txt.isidentifier()

print(x)

True

In [5]:
txt = "1234"

x = txt.isidentifier()

print(x)

False

In [7]:
txt = " "

x = txt.isidentifier()

print(x)

False

In [8]:
txt = "radha123"

x = txt.isidentifier()

print(x)

True

In [10]:
txt = "*&^"

x = txt.isidentifier()

print(x)

False

In [15]:
txt = "radha123"

x = txt.isidentifier()

print(x)

True

In [23]:
a = "SPOAMDL"
b = "1873831"
c = "922KSFKSMD9u9213i1"
d = "my den m  o"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
False
False
False

In [27]:
txt ="JDMDlk  28492 dplmdl"

x = txt.islower()

print(x)

False

In [30]:
txt = "KWDWMSLKMA23e93"

x = txt.isupper()

print(x)

False

In [31]:
txt = "AFHKAF"
a = "29482"
b = "NSFJNA8274"

print(txt.isupper())
print(a.isupper())
print(b.isupper())

True
False
True

In [32]:
txt = "AFHKAF"
a = "29482"
b = "NSFJNA8274"

print(txt.islower())
print(a.islower())
print(b.islower())

False
False
False

In [33]:
txt = "AFHKAF"
a = "29482"
b = "NSFJNA8274"

print(txt.isnumeric())
print(a.isnumeric())
print(b.isnumeric())

False
True
False

In [37]:
txt = "     ihwkdm;   wjdod,   7239"
a = "      "
b = "NSFJNA8274     ndlOKDL;"

print(txt.isprintable())
print(a.isprintable())
print(b.isprintable())

True
True
True

In [44]:
txt = "82849 jododmldkkp384803 "
a = "     "
b = "wndkwm 39294 kdla 82492"

print(txt.isspace())
print(a.isspace())
print(b.isspace())

False
True
False

In [49]:
txt =  "Hello, And Welcome To My World!"

a = "29482"
b = "NSFJNA8274"

print(txt.istitle())
print(a.istitle())
print(b.istitle())

True
False
False

In [50]:
str = ("apple", "cat", "vicky")
txt = "!".join(str)
print(txt)

apple!cat!vicky

In [51]:
lst = ["apple", "city", "purple"]
print(lst)

['apple', 'city', 'purple']

In [52]:
lst = ["apple", "city", "purple"]
print(lst[1])

city

In [53]:
lst = ["apple", "city", "purple"]
print(lst[-2])

city

In [55]:
lst = ["apple", "city", "purple", "ndiwndow", "dhijdo", "hifjwo", "7731993"]
print(lst[2:5])

['purple', 'ndiwndow', 'dhijdo']

In [56]:
lst = ["apple", "city", "purple", "ndiwndow", "dhijdo", "hifjwo", "7731993"]
print(lst[:5])

['apple', 'city', 'purple', 'ndiwndow', 'dhijdo']

In [59]:
lst = ["apple", "city", "purple", "ndiwndow", "dhijdo", "hifjwo", "7731993"]
print(lst[0:-3])

['apple', 'city', 'purple', 'ndiwndow']

In [60]:
lst = ["apple", "city", "purple", "ndiwndow", "dhijdo", "hifjwo", "7731993"]
print(lst[2:])

['purple', 'ndiwndow', 'dhijdo', 'hifjwo', '7731993']

In [63]:
lst = ["apple", "city", "purple", "ndiwndow", "dhijdo", "hifjwo", "7731993"]
print(lst[-4:-1])

['ndiwndow', 'dhijdo', 'hifjwo']

In [66]:
a = ["radha", "madhavi", "revu", "ravi chandra", "krishna"]
a[3] = "venkat"
print(a)

['radha', 'madhavi', 'revu', 'venkat', 'krishna']

In [70]:
a = ["radha", "madhavi", "revu", "ravi chandra", "krishna"]
for x in a:
    print(x)

radha
madhavi
revu
ravi chandra
krishna

In [76]:
thislist = ["radha", "madhavi", "revu"]
if "radha" in thislist:
    print("Yes, 'radha' is in the fruits list")

Yes, 'radha' is in the fruits list

In [77]:
a = ["radha", "madhavi", "revu", "ravi chandra", "krishna"]

print(len(a))

5

In [78]:
a = ["radha", "madhavi", "revu", "ravi chandra", "krishna"]
a.append("ravi")
print(a)

['radha', 'madhavi', 'revu', 'ravi chandra', 'krishna', 'ravi']

In [79]:
a = ["radha", "madhavi", "revu", "ravi chandra", "krishna"]
a.insert(2, "ravi")
print(a)

['radha', 'madhavi', 'ravi', 'revu', 'ravi chandra', 'krishna']

In [82]:
a = ["radha", "madhavi", "revu", "ravi chandra", "krishna"]
a.remove("radha")
print(a)

['madhavi', 'revu', 'ravi chandra', 'krishna']

In [83]:
a = ["radha", "madhavi", "revu", "ravi chandra", "krishna"]
a.pop()
print(a)

['radha', 'madhavi', 'revu', 'ravi chandra']

In [92]:
list = ["radha", "madhavi", "revu", "ravi chandra", "krishna"]
del list[0]
print(a)

['radha', 'madhavi', 'revu', 'ravi chandra']